<div class="container">
  <div class="selection">
    <button class="active">Открытые позиции</button>
    <button>История сделок</button>
  </div>

<!--  <table class="positions">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <td>Время создания</td>-->
<!--      <td>Пара</td>-->
<!--      <td>Тип</td>-->
<!--      <td>Статус</td>-->
<!--      <td>Стоимость</td>-->
<!--      <td>Количество</td>-->
<!--      <td>Take profit</td>-->
<!--      <td>Stop loss</td>-->
<!--      <td>Закрытие заявки</td>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
<!--    <tr>-->
<!--      <td>06.06 10:15</td>-->
<!--      <td>BTC/USDT</td>-->
<!--      <td style="color: green">Long</td>-->
<!--      <td>Открыта заявка</td>-->
<!--      <td>{{ 25737.97 | currency}}</td>-->
<!--      <td>{{ .13 }}</td>-->
<!--      <td>{{ 25737.97 * 1.1 | currency}}</td>-->
<!--      <td>{{ 25737.97 * 0.8 | currency}}</td>-->
<!--      <td><button class="cancel">Отменить заявку</button></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>06.06 10:10</td>-->
<!--      <td>BTC/USDT</td>-->
<!--      <td style="color: green">Long</td>-->
<!--      <td>Исполнено</td>-->
<!--      <td>{{ 25733.20 | currency}}</td>-->
<!--      <td>{{ .13 }}</td>-->
<!--      <td>{{ 25733.20 * 1.3 | currency}}</td>-->
<!--      <td>{{ 25733.20 * 0.6 | currency}}</td>-->
<!--      <td><button class="sell-market">Продать по маркету</button></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

  <table mat-table [dataSource]="orders" class="positions">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Время создания</th>
      <td mat-cell *matCellDef="let order">{{order.date}}</td>
    </ng-container>
    <ng-container matColumnDef="pair">
      <th mat-header-cell *matHeaderCellDef>Пара</th>
      <td mat-cell *matCellDef="let order">{{order.pair}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Тип</th>
      <td mat-cell *matCellDef="let order" [style]="getColor(order)">{{order.type}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Статус</th>
      <td mat-cell *matCellDef="let order">{{order.status}}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Цена</th>
      <td mat-cell *matCellDef="let order">{{order.price | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef>Объем</th>
      <td mat-cell *matCellDef="let order">{{order.count}}</td>
    </ng-container>
    <ng-container matColumnDef="tp">
      <th mat-header-cell *matHeaderCellDef>Тейк-профит</th>
      <td mat-cell *matCellDef="let order">{{order.tp | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="sl">
      <th mat-header-cell *matHeaderCellDef>Стоп-лосс</th>
      <td mat-cell *matCellDef="let order">{{order.sl | currency}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Закрыть сделку</th>
      <td mat-cell *matCellDef="let order">
        <button *ngIf='order.status=="open"' class="sell-market">Продать по маркету</button>
        <button *ngIf='order.status=="pending"' class="cancel">Отменить заявку</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
