<div class="container">
  <div class="selection">
    <button class="btn buy">LONG</button>
    <button class="btn sell">SHORT</button>
  </div>

  <div class="selection" style="margin-left: 5px">
    <a style="text-decoration: underline">Лимит</a>
    <a>Маркет</a>
  </div>

  <form>
    <input placeholder="Цена">
    <input placeholder="Количество">
    <div class="result" >
      <span>Итого</span>
      <span style="font-weight: bold">0 USDT</span>
    </div>

    <button class="result-btn">КУПИТЬ BTC</button>
  </form>
</div>
